@tailwind preflight;

@import "../bootstrap";

@import "components/alert";
@import "components/blockquote";
@import "components/button";
@import "components/carbon";
@import "components/code";
@import "components/form";
@import "components/newsletter";
@import "components/page";
@import "components/search";
@import "components/tag";
@import "components/turbolinks";
@import "components/youtube";

@tailwind utilities;

 .grid {
   display: grid;
   grid-template-columns: 33% 33% 33%;
 }
.grid > .item {
  padding: 20px;
  background: #F1F1F1;
}
.grid li:nth-child(3n+3) {
  margin-right: 0;
}

